:root {
	--primary: rgb(112, 0, 255);
	--primary-light: rgb(112, 0, 255, 0.7);
	--purple: #240051;
}

.icon {
	transition: 100ms;
}
.icon.active {
	background-color: var(--primary);
}
.toggle-menu .icon.active {
	background-color: transparent;
}

.toggle-menu * {
	background-color: transparent;
	color: var(--primary);
}

.link-button:hover .icon {
	background-color: var(--primary-light);
}

#expanded-sidebar-menu {
	background-color: var(--purple);
}

@media screen and (max-width: 850px) {
	#menu-selector-desktop {
		display: none;
	}
	#menu-selector-mobile {
		display: block;
	}
}
@media screen and (min-width: 851px) {
	#menu-selector-desktop {
		display: block;
	}
	#menu-selector-mobile {
		display: none;
	}
}
#sideBar {
	/* width: min(300px, 95vw); */
	background: #240051;
	z-index: 5;
}
