@import "styles/_colors";
.geocoderContainer {
  /* position: absolute; */
  z-index: 100;
  /* left: 50%; */
  /* margin-left: -25%; */
  /* top: 10px; */
}

.latLongContainer {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
/* lang and long containers expectively */
.latLongContainer > * {
  display: flex;
  gap: 5px;
  label {
    color: white;
  }
}

/* tiles summary (not expanded) */
.tilesSummaryCondensed {
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  margin-top: 10px;
  writing-mode: vertical-rl;
}

.mapboxgl-ctrl-geocoder {
  min-width: 100%;
}

.menuDiscoverContainer {
  background-color: rgba($dark, 0.5);
  max-width: min(494px, 100vw);
  height: 100%;
  width: auto;
  margin: 0;
  display: inline-block;
}
.iconButton {
  width: 24px;
  height: 25px;
  background: white;
  border-radius: 5px;
  display: grid;
  padding: 0;
  cursor: pointer;
  place-items: center;
}
.menuDiscoverContainer > * {
  margin: 10px auto;
  /* targets .cols inside .rows */
  & > * {
    padding-left: 0px;
    padding-right: 0;
  }
  .text-secondary {
    color: #ab90f2 !important;
  }
}

@media screen and (max-width: 850px) {
  .menu-discover-container.expanded {
    padding: 14px;
  }
  .tiles-info-card-top,
  .tiles-info-card-bottom {
    padding: 8px;
  }
}

.normal {
  padding: 8px;
}
.expanded {
  padding: 24px;
}
