.geocoder-container {
	/* position: absolute; */
	z-index: 100;
	/* left: 50%; */
	/* margin-left: -25%; */
	/* top: 10px; */
}

.mapboxgl-ctrl-geocoder {
	min-width: 100%;
}

.menu-discover-container {
	background-color: rgba(36, 0, 81, 0.75);
	max-width: min(494px, 100vw);
	height: 100%;
	width: auto;
	margin: 0;
	display: inline-block;
}
.icon-button {
	width: 24px;
	height: 25px;
	background: white;
	border-radius: 5px;
	display: grid;
	padding: 0;
	cursor: pointer;
	place-items: center;
}
.menu-discover-container > * {
	margin: 10px auto;
}

.area-geography-info {
	gap: 10px;
	font-weight: bold d-flex;
	display: flex;
}
.area-geography-info > * {
	display: flex;
	align-items: center;
	gap: 5px;
}

/* targets .cols inside .rows */
.menu-discover-container > * > * {
	padding-left: 0px;
	padding-right: 0;
}

.menu-discover-container .text-secondary {
	color: #ab90f2 !important;
}

.tiles-info-card-top {
	background: linear-gradient(
			160.71deg,
			rgba(81, 238, 144, 0.2) 0.39%,
			rgba(17, 17, 17, 0) 87.04%
		),
		radial-gradient(100% 100% at 100% 0%, #6100ff 0%, rgba(17, 17, 17, 0) 100%),
		#874be8;
}

.tiles-info-card-top,
.tiles-info-card-bottom {
	padding: 24px;
}

.tiles-selected-buttons {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 10px;
	margin-top: 20px;
}

.tiles-selected-buttons button:hover {
	opacity: 0.75;
}

.text-primary {
	background: radial-gradient(
		100% 683.38% at 100% -1.52%,
		#aa20eb 0%,
		#ff6b00 100%
	);
	color: transparent !important;
	background-clip: text;
	-webkit-background-clip: text !important;
}

@media screen and (max-width: 850px) {
	.menu-discover-container.expanded {
		padding: 14px;
	}
	.tiles-info-card-top,
	.tiles-info-card-bottom {
		padding: 8px;
	}
}

.normal {
	padding: 8px;
}
.expanded {
	padding: 24px;
}
