@import "styles/_colors";

.marketplaceMenuContainer {
  width: 350px;
  height: 100%;
  z-index: 3;
  margin: 0;
  background-color: $primary;
  position: relative;
  z-index: 100;
  padding-top: 20px;
}

.header {
  color: white;
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  /* icon and name container */
  & > :first-child {
    display: flex;
    gap: 15px;
    align-items: center;
    text-transform: uppercase;
  }
}

.applyBtn {
  background: $secondary-gradient;
  width: 100%;
  margin-top: 20px;
}

.appAccordion {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: stretch;
  padding: 15px;
  background: $primary-dark;
  color: white;
}

.appAccordionToggle {
  border: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  user-select: none;
}

.appAccordionToggle:active,
.appAccordionToggle:hover,
.appAccordionToggle:focus {
  background-color: transparent !important;
}

/*  targets each row */
.landTypeSelector > * {
  display: flex;
  justify-content: space-between;

  /*  target the icon and name container */
  & > * {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

.tileCountSelector,
.priceMaticSelector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

@media screen and (max-width: 650px) {
  .marketplaceMenuContainer {
    box-sizing: border-box;
    width: 100vw;
    max-width: 100%;
    overflow: auto;
  }
}
